<div class="todo-container">
  <h1 class="todo-header">Todos</h1>
  <h1 class="create-task-heading">
    Create <span class="create-task-heading-subpart">Task</span>
  </h1>
  <input type="text" placeholder="Whats needs to be done?" class="input-ele" [(ngModel)]="userInput" />
  <button type="button" class="add-btn" (click)="onAdd(userInput)">Add</button>
  <h1 class="todo-items-heading">
    My <span class="todo-items-heading-subpart">Tasks</span>
  </h1>
  <ul class="todo-items-container" type="none" id="todoItemsContainer">
    <app-todo-item 
      *ngFor="let todo of todos"
      [todoItem]="todo"
      (deleteTodo)="deletedTodo($event)"
    >
    </app-todo-item>
  </ul>
</div>